@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text-color: #757575;
  --bnt-color-hover: #F5F4FA;
  --btn-color-hb: #2196F3;
  --btn-color-text: #212121;
  --default-white: #ffffff;
  --font-size: 14px;
  --bg-color: #2F303A;
  --set-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  --timing-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
  /* width: 100%;*/
  height: auto;
}

.contact__e,
.contact__tel {
  text-decoration: none;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.e-link {
  text-decoration: none;
  font-style: normal;
}

.ph-link {
  text-decoration: none;
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--btn-color-text);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

button {
  cursor: pointer;
  border: none;
}

.header__container {
  display: flex;
  align-items: center;
}

.logo-color {
  color: var(--btn-color-hb);
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}

.header-icon {
  align-items: center;
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
}

/*Header-Навигация */
.nav__site {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size);
  line-height: 1.14;
}
.nav__site:hover, .nav__site:focus {
  color: var(--btn-color-hb);
}

.contact {
  padding: 0;
  margin: 0;
  display: flex;
}

.nav__site:first-child {
  margin-left: 93px;
}

.nav__site .nav__item {
  margin-right: 50px;
}

.contact .contact__item:last-child {
  margin-right: 0;
}

.nav__site .current {
  color: var(--btn-color-hb);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

/*Header-Контактные линки */
.contact {
  margin-left: auto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  color: var(--text-color);
  padding-top: 5px;
}

.contact__e {
  margin-right: 30px;
}

.contact__e,
.contact__tel {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color var(--timing-duration) var(--timing-function);
}
.contact .contact__e:hover, .contact .contact__e:focus, .contact .contact__e:hover, .contact .contact__e:focus,
.contact .contact__tel:hover,
.contact .contact__tel:focus,
.contact .contact__tel:hover,
.contact .contact__tel:focus {
  color: var(--btn-color-hb);
}

.nav {
  /*display: block;*/
  align-items: baseline;
}

/*Ссылки в шапке*/
.nav__link {
  display: flex;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--btn-color-text);
  transition: color var(--timing-duration) var(--timing-function);
}
.nav__link:hover, .nav__link:focus {
  color: var(--btn-color-hb);
}

.hero {
  padding-bottom: 200px;
  background-color: var(--bg-color);
}

.hero__container {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__titel {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.hero__btn {
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  background: var(--btn-color-hb);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.benefit {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefit__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  margin-left: -30px;
}

.benefit__title {
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 1.14;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.benefit__text {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--text-color);
  padding-top: 10px;
}

.benefit__item {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  flex-basis: calc(25% - 30px);
  margin-left: 30px;
}
.benefit__item:last-child {
  margin-right: 0;
}

.benefit-icon {
  width: 70px;
  height: 70px;
}

.icons {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  background: #F5F4FA;
  border-radius: 4px;
}

.our-work__container {
  padding-bottom: 94px;
}

.our-work__container > .our-work__list {
  display: flex;
}

.our-work__list .our-work__item + .our-work__item {
  flex-basis: calc(33.3333333333% - 30px);
}

.our-work__item:not(:last-child) {
  margin-right: 30px;
}

.our-work__item {
  position: relative;
}

.work-card-text {
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  height: 70px;
  left: 615px;
  top: 1435px;
  background-color: rgba(47, 48, 58, 0.8);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

.our-work__text {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  text-transform: uppercase;
  line-height: 1.14;
  font-weight: 700;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.about-us {
  display: block;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
  background: #F5F4FA;
}

.section__title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--btn-color-text);
  margin-bottom: 50px;
}

.about-us__list {
  display: flex;
}

.about-us__card {
  width: 270px;
  height: 428px;
  left: 215px;
  top: 1635px;
  margin-right: 30px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.worker-container {
  padding-top: 30px;
  padding-bottom: 30px;
  /*outline: 1px solid red;*/
}

.worker-container .worker-container__name {
  margin-bottom: 10px;
}

.about-us .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.about-us .text {
  display: block;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text-color);
}

.our-work__item:last-child {
  margin-right: 0;
}

.workers-soc__list {
  display: flex;
  justify-content: center;
  /*padding-left: 32px;*/
}

.workers-soc__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.workers-soc__item:last-child {
  margin-right: 0;
}

.workers-soc__link {
  width: 100%;
  height: 100%;
  background-color: var(--default-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  transition: background-color var(--timing-duration) var(--timing-function);
}
.workers-soc__link:hover, .workers-soc__link:focus {
  background-color: var(--btn-color-hb);
}

.workers-soc__link:hover .workers-soc__icon,
.workers-soc__link:focus .workers-soc__icon {
  fill: var(--default-white);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  color: var(--btn-color-text);
}

.clients__list {
  display: flex;
}

.clients__item {
  margin-right: 30px;
  color: #AFB1B8;
  transition: color var(--timing-duration) var(--timing-function);
}
.clients__item:hover, .clients__item:focus {
  color: var(--btn-color-hb);
}

.clients__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  color: #AFB1B8;
  fill: currentColor;
  transition: color var(--timing-duration) var(--timing-function), border-color var(--timing-duration) var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--btn-color-hb);
}
.clients__link:hover, .clients__link:focus {
  color: var(--btn-color-hb);
}

.set {
  border-top: 1px solid #ECECEC;
  padding-top: 94px;
  padding-bottom: 94px;
}

.set__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

.set__list > .set__item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  /*outline: 1px solid red;*/
}

.set__item:nth-child(3n) {
  margin-right: 0px;
  padding-right: 0px;
}

.card-content__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  align-items: center;
  /* outline: 1px solid red;*/
}

.card-content__text {
  font-style: normal;
  font-size: 16px;
  line-height: 2.25;
  color: var(--text-color);
}

.logo-adress {
  margin-right: 70px;
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer__section {
  margin: 0 auto;
  background: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__section .footer {
  display: flex;
  align-items: baseline;
}

.contact-link__list .item:first-child {
  margin-top: 20px;
}

.bottom-logo-color {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.contact-link__list .item {
  margin-bottom: 9px;
}

.e-link,
.ph-link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  transition: color var(--timing-duration) var(--timing-function);
}

.contact-link__list .e-link:hover,
.contact-link__list .e-link:focus,
.contact-link__list .addres-link:hover,
.contact-link__list .addres-link:focus,
.contact-link__list .ph-link:hover,
.contact-link__list .ph-link:focus {
  color: var(--btn-color-hb);
}

.addres-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color var(--timing-duration) var(--timing-function);
}

.footer-soc__titel {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-soc {
  margin-right: 93px;
}

.footer-soc__list {
  display: flex;
  margin-bottom: 30px;
}

.footer-soc__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-soc__icon {
  fill: #FFFFFF;
}

.footer-soc__link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
  transition: background-color var(--timing-duration) var(--timing-function);
}
.footer-soc__link:hover, .footer-soc__link:focus {
  background-color: var(--btn-color-hb);
}

.footer-soc__link:hover .footer-soc_icon,
.footer-soc__link:focus .footer-soc_icon {
  fill: var(--default-white);
}

.footer-form {
  margin-right: auto;
}

.footer-form__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.footer-form__mail {
  display: flex;
  border: none;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  margin-right: 12px;
  transition: border var(--timing-duration) var(--timing-function);
}
.footer-form__input:focus, .footer-form__input:hover {
  border-color: var(--btn-color-hb);
}

.footer-form__btn {
  position: relative;
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: var(--btn-color-hb);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  padding-left: 29px;
  color: #ffffff;
  fill: currentColor;
  transition: fill var(--timing-duration) var(--timing-function);
  transition: background-color var(--timing-duration) var(--timing-function);
}

.footer-form__btn:hover,
.footer-form__btn:focus {
  background-color: #ffffff;
  color: var(--btn-color-hb);
}

.icon-send {
  position: absolute;
  right: 28px;
  margin-left: 10px;
}
.icon-send:hover, .icon-send:focus {
  background-color: #ffffff;
  color: var(--btn-color-hb);
  fill: var(--btn-color-hb);
}

/* Кнопки-Портфолио */
.nav-list_card {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.nav-list_item {
  margin-left: 8px;
}

.nav-list_card .site-nav-btn {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--btn-color-text);
  background-color: #F5F4FA;
}

.site-bnt {
  display: block;
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--btn-color-text);
  background-color: var(--bnt-color-hover);
  padding: 6px 22px;
  transition: color var(--timing-duration) var(--timing-function), background-color var(--timing-duration) var(--timing-function), box-shadow var(--timing-duration) var(--timing-function);
}
.site-bnt:hover, .site-bnt:focus {
  color: var(--bnt-color-hover);
  background-color: var(--btn-color-hb);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.card {
  width: 370px;
  height: 404px;
  overflow: hidden;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  cursor: pointer;
  transition: box-shadow var(--timing-duration) var(--timing-function), border-radius var(--timing-duration) var(--timing-function);
}
.card:hover, .card:focus {
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
}

.card-content {
  padding: 20px 24px;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-top-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}
.set__item:hover .card-top-text {
  transform: translateY(0%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: opacity var(--timing-duration) var(--timing-function), visibility var(--timing-duration) var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.75);
  opacity: 0;
}

.modal-bnt_close {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-bnt_close:hover, .modal-bnt_close:focus {
  fill: var(--btn-color-hb);
}

.modal_title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

/*Форма*/
.modal_field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input {
  width: 100%;
  height: 45px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  fill: currentColor;
  padding-left: 30px;
  outline: none;
  transition: border-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}
.modal-input:focus, .modal-input:hover {
  border-color: #2196F3;
}

.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon {
  fill: #2196F3;
}

.modal_label {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}

textarea {
  resize: none;
}

.modal-text {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border 250ms var(--transition-cubic);
}
.modal-text:focus, .modal-text:hover {
  border: 1px solid #2196F3;
}

/*Чекбокс*/
.covenant {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.covenant-title {
  padding-left: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}
.covenant-title::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
}

.checkbox-policy:checked + .covenant-title::before {
  background-color: #2196F3;
  background-image: url(../images/icon/checkbox.svg);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-policy:focus + .covenant-title::before {
  border-color: #2196F3;
}

.checkbox-policy:focus:not(:checked) + .covenant-title::before {
  border-color: #2196F3;
}

.checkbox-policy:disabled + .covenant-title::before {
  border-color: #2196F3;
}

.covenant-link {
  display: block;
  padding-left: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.modal-bnt-send {
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  background: var(--btn-color-hb);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  transition: background var(--timing-duration) var(--timing-function);
}
.modal-bnt-send:hover, .modal-bnt-send:focus {
  background: #188CE8;
}/*# sourceMappingURL=main.css.map */