.set {
    border-top: 1px solid #ECECEC;
    padding-top: 94px;
    padding-bottom: 94px;
}

.set__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
}

.set__list>.set__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    /*outline: 1px solid red;*/ 
}



.set__item:nth-child(3n) {
    margin-right: 0px;
    padding-right: 0px;
}

.card-content__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    align-items: center;
    /* outline: 1px solid red;*/
}

.card-content__text {
    font-style: normal;
    font-size: 16px;
    line-height: 2.25;
    color: var(--text-color);
}