.card {
   /* width: 450px;*/
    /*height: 404px;*/
    overflow: hidden;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    cursor: pointer;
    transition: box-shadow var(--timing-duration) var(--timing-function),
    border-radius var(--timing-duration) var(--timing-function);
    &:hover,
    &:focus {
        box-shadow: var(--card-shadow);
        border-radius: 0px 0px 4px 4px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
               }

        @media screen and (min-width: 1199px) {
            width: 370px;
            height: 404px;
}

}




.card-content {
    padding: 20px 24px;
   
}

.set__item:first-child .card-content {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      height: 118px;
    }
  }


.card-thumb {
    position: relative;
    overflow: hidden;
}

.card-top-text{
        font-weight: 400;
        font-size: 18px;
        line-height: 1.55;
        letter-spacing: 0.03em;
        
        color: #FFFFFF;

        position: absolute;
        display: inline-block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(33, 150, 243, 0.9);
        padding: 77px 24px;
    

        transform: translateY(100%);
        transition: transform 250ms var(--timing-function) ;
        .set__item:hover & {
            transform: translateY(0%)
        }

        @media screen and (min-width: 768px) {
        padding: 49px 24px;
        }

        @media screen and (min-width: 1199px) {
            padding: 63px 24px;
}
}