img {
    display: block;
   /* width: 100%;*/
    height: auto;
}

.contact__e,
.contact__tel {
    text-decoration: none;
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

.e-link {
    text-decoration: none;
    font-style: normal;
}

.ph-link {
    text-decoration: none;
    font-style: normal;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
}
